extends layout

block styles
  link(rel='stylesheet', href='/css/index.css')

block content
  #content-index
    .container(style='margin-top: 3em; text-align: center;')
      h1.title Castaway Labs LLC
