doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index_.css')

  body
    .container#page
      .section#home
        .row: .col-md-6.col-md-offset-6
          .mast
            h1 Castaway Labs
            p A development team dedicated to making your idea a reality. We build
              | anything from a plugin to a full sized solution.
            nav(role='navigation')#nav-sup
              ul.nav
                li: a(href='#') about
                li: a(href='#') team
                li: a(href='#') portfolio
                li: a(href='#') testimonials
                li: a(href='#') contact
      .section#about
        .row.section-headline
          h1.section-title about
          p.lead Castaway labs provides professional and efficient digital solutions that
            | fit your business needs. Our development team provides one-on-one customer
            | support to fine tune our solution to your liking.
        .row.section-content
          .col-md-4
            .thumbnail: img(src='http://placehold.it/148x148/ccc/fff')
            h2.thumb-title ideation
            p Your idea deserves the very best hands working on it. We are dedicated to
              | bringing your vision to life to produce the digital solution your business
              | needs.
          .col-md-4
            .thumbnail: img(src='http://placehold.it/148x148/ccc/fff')
            h2.thumb-title design
            p Our designers will create the very best UI for your users. We will work in
              | close collaboration with you to translate your design requirements and wish
              | list into your digital solution.
          .col-md-4
            .thumbnail: img(src='http://placehold.it/148x148/ccc/fff')
            h2.thumb-title development
            p Our team utilizes open source projects, as well as content management systems to
              | provide your business with the solution that best fits your needs.
      .section#team
        .row.section-headline
          h1.section-title team
          p.lead Working with us you will work with some of the most experienced and professional
            | problem-solvers handpicked for their talent and dedication from around the world.
        .row.section-content
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Ed Choi
            p President
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Alan Campbell
            p Team Manager
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Matej Kramny
            p Developer
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Anže Jenšterle
            p Developer
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Mark Hendriks
            p Developer
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Andrew Epifano
            p Developer
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Zia Ur Rehman
            p Developer
          .col-md-3
            .thumbnail: img(src='http://placehold.it/128x128/ccc/fff')
            h4 Annie Ng
            p Designer
      .section#portfolio
        .row.section-headline
          h1.section-title portfolio
          p.lead Castaway labs provides professional and efficient digital solutions that
            | fit your business needs. Our development team provides one-on-one customer
            | support to fine tune our solution to your liking.
        .row.section-content
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
          .col-md-4
            .thumbnail: img(src='http://placehold.it/196x128/ccc/fff')
            h4 Project Title
            p Client
      .section#testimonials
        h1.section-title what our clients say
        .carousel(data-ride='carousel', data-interval='8000').slide#carousel-testimonials
          ol.carousel-indicators
            li(data-target='#carousel-testimonials', data-slide-to='0').active
            li(data-target='#carousel-testimonials', data-slide-to='1')
            li(data-target='#carousel-testimonials', data-slide-to='2')
            li(data-target='#carousel-testimonials', data-slide-to='3')
            li(data-target='#carousel-testimonials', data-slide-to='4')
          .carousel-inner
            .item.active
              blockquote
                p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                  | aliquam ex quis metus gravida dapibus vitae eu elit. Integer eget
                  | quam quis nulla pretium consequat id id purus.
                footer Altaïr Ibn La'Ahad @ Assassins LLC
            .item
              blockquote
                p.lead Fusce leo mi, laoreet id purus fermentum, posuere bibendum lacus.
                  | Pellentesque quis porta quam. Aliquam urna nunc, ultrices ut ante et,
                  | ultrices venenatis lacus.
                footer Richard Lionheart @ Crown of England
            .item
              blockquote
                p.lead In hac habitasse platea dictumst. Nulla viverra convallis pharetra.
                  | Donec sagittis vulputate tellus, facilisis dictum ex auctor nec.
                footer Dr. Warren Vidic @ Abstergo International
            .item
              blockquote
                p.lead In varius, felis vitae pulvinar posuere, lectus sapien euismod
                  | mauris, ac finibus enim eros eu ex. Vivamus condimentum lacus mauris,
                  | egestas feugiat ipsum venenatis vel.
                footer Ezio A. da Firenze @ Assassins LLC
            .item
              blockquote
                p.lead Maecenas sapien nisl, elementum a maximus vel, efficitur quis sem.
                  | Phasellus sagittis nunc enim, sit amet placerat ligula elementum ut.
                  | Cras in pharetra felis.
                footer Haytham Kenway @ Templars Inc.
          .quotemarks.left
          .quotemarks.right
      .section#contact
        h1.section-title contact
        .row.section-content
          .col-md-6
            p.lead We'd love to hear from you, whether you're interested in doing business or
              | in possible career opportunities. Drop us a line!
          .col-md-6
            form(role='form').form-horizontal#form-contact
              .form-group
                label(for='inputName').col-sm-3.control-label NAME
                .col-sm-9
                  input(name='inputName', placeholder='what shall we call you?').form-control.input-lg#inputName
              .form-group
                label(for='inputEmail').col-sm-3.control-label EMAIL
                .col-sm-9
                  input(name='inputEmail', placeholder='how do we reach you?').form-control.input-lg#inputEmail
              .form-group
                label(for='inputMessage').col-sm-3.control-label MESSAGE
                .col-sm-9
                  textarea(name='inputMessage', placeholder='what do you wanna say?', rows='4').form-control.input-lg#inputMessage
              .form-group.text-right
                .col-sm-3.col-sm-offset-9
                  button(type='submit').btn.btn-lg.btn-success.form-control.input-lg SEND
      .section#footer
        p: small &copy; Castaway Labs LLC &ndash; 2014

    script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    script.
      if (! window.jQuery)
        document.write(
          '<script src="/js/jquery/jquery-2.1.1.min"><\/script>'
        );
    script(src='/js/bootstrap/bootstrap.min.js')
