doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='apple-touch-icon', sizes='57x57', href='/img/favicons/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/img/favicons/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/img/favicons/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/img/favicons/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/img/favicons/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/img/favicons/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/img/favicons/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/img/favicons/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/img/favicons/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/img/favicons/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/favicons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/img/favicons/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/img/favicons/favicon-16x16.png')
        link(rel='manifest', href='/img/favicons/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/img/favicons/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')


    body
        #page
            .section#home
                .row: .col-md-6.col-md-offset-6
                    .mast
                        h1 Castaway Labs
                        p A development team dedicated to bringing together your vision and ideas into reality
                            | fusing the cutting edge design trends and technology.
                        nav(role='navigation')#nav-sup
                            ul.nav
                                li: a(href='#about') about
                                li: a(href='#team') team
                                //-li: a(href='#portfolio') portfolio
                                //-li: a(href='#testimonials') testimonials
                                li: a(href='#contact') contact
            .section#about
                .row.section-headline
                    h1.section-title about
                    p.lead Castaway Labs &reg; provides professional and efficient web and mobile solutions to fit your business needs. Our team will work with you in one-on-one meetings to fine tune your product to your liking.
                .row.section-content
                    .col-md-4
                        .thumbnail-about: i.fa.fa-lightbulb-o
                        h2.thumb-title Idea
                        p Your idea deserves the very best hands working on it. We are dedicated to
                            | bringing your vision to life to produce the digital solution your business
                            | needs.
                    .col-md-4
                        .thumbnail-about: i.fa.fa-pencil
                        h2.thumb-title Design
                        p Our designers will create the very best UI for your users. We will work in
                            | close collaboration with you to translate your design requirements and wish
                            | list into your digital solution.
                    .col-md-4
                        .thumbnail-about: i.fa.fa-code
                        h2.thumb-title Development
                        p Our team utilizes open source projects, as well as content management systems to
                            | provide your business with the solution that best fits your needs.
            .section#team
                .row.section-headline
                    h1.section-title team
                    p.lead Meet our team of professional problem-solvers, handpicked for their talent and dedication, from around the world.
                .row.section-content
                    .col-md-2.col-md-offset-1
                        .thumbnail: img(src='https://www.gravatar.com/avatar/f0842c23c56c3b4445bedd05f6489583.jpg?s=120')
                        h4 Alan Campbell
                        p Team Manager
                    .col-md-2
                        .thumbnail: img(src='https://www.gravatar.com/avatar/7e2e31912fa0b07ff61861a0f98d691c.jpg?s=120')
                        h4 Matej Kramny
                        p Developer
                    .col-md-2
                        .thumbnail: img(src='https://www.gravatar.com/avatar/5297b18750aa6994c5d45f673a2dc758.jpg?s=120')
                        h4 Anže Jenšterle
                        p Developer
                    .col-md-2
                        .thumbnail: img(src='https://www.gravatar.com/avatar/360b5e1a549813e102042b97113096b7.jpg?s=120')
                        h4 Mark Hendriks
                        p Developer
                    .col-md-2
                        .thumbnail: img(src='https://www.gravatar.com/avatar/e40af4e9f7ed6cef5236445b7f7b3fc7.jpg?s=120')
                        h4 Zia Ur Rehman
                        p Developer
            //-.section#portfolio
                .row.section-headline
                    h1.section-title portfolio
                .row.section-content
                    .col-md-4
                        .thumbnail: img(src='https://placehold.it/196x128/ccc/fff')
                        h4 Project Title
                        p Client
                    .col-md-4
                        .thumbnail: img(src='https://placehold.it/196x128/ccc/fff')
                        h4 Project Title
                        p Client
                    .col-md-4
                        .thumbnail: img(src='https://placehold.it/196x128/ccc/fff')
                        h4 Project Title
                        p Client
            //-.section#testimonials
                h1.section-title Our happy customers
                .carousel(data-ride='carousel', data-interval='8000').slide#carousel-testimonials
                    ol.carousel-indicators
                        li(data-target='#carousel-testimonials', data-slide-to='0').active
                        li(data-target='#carousel-testimonials', data-slide-to='1')
                    .carousel-inner
                        .item.active
                            blockquote
                                p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    | aliquam ex quis metus gravida dapibus vitae eu elit. Integer eget
                                    | quam quis nulla pretium consequat id id purus.
                                footer Altaïr Ibn La'Ahad @ Assassins LLC
                        .item
                            blockquote
                                p.lead Fusce leo mi, laoreet id purus fermentum, posuere bibendum lacus.
                                    | Pellentesque quis porta quam. Aliquam urna nunc, ultrices ut ante et,
                                    | ultrices venenatis lacus.
                                footer Richard Lionheart @ Crown of England
                    .quotemarks.left
                    .quotemarks.right
            .section#contact
                h1.section-title contact
                .row.section-content
                    .col-md-6
                        p.lead We'd love to hear from you, whether you're interested in doing business or
                            | in possible career opportunities. Drop us a line!
                    .col-md-6
                        span#form-contact-status
                            button.close(type='button', data-dismiss='alert', aria-label='Close' id='close')
                                span(aria-hidden='true') &times;
                        form(role='form').form-horizontal#form-contact
                            .form-group
                                label(for='inputName').col-sm-3.control-label NAME
                                .col-sm-9
                                    input(name='inputName' required).form-control.input-lg#inputName
                            .form-group
                                label(for='inputEmail').col-sm-3.control-label EMAIL
                                .col-sm-9
                                    input(name='inputEmail' type='email' required).form-control.input-lg#inputEmail
                            .form-group
                                label(for='inputMessage').col-sm-3.control-label MESSAGE
                                .col-sm-9
                                    textarea(name='inputMessage', rows='4' required).form-control.input-lg#inputMessage
                            .form-group.text-right
                                .col-sm-3.col-sm-offset-9
                                    button(type='submit').btn.btn-lg.btn-success.form-control.input-lg SEND
            .section#footer
                p: small &copy; Castaway Labs LLC &ndash; #{new Date().getFullYear()}

        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script.
            if (!window.jQuery)
                document.write(
                        '<script src="/js/jquery/jquery-2.1.1.min"><\/script>'
                );
            $(document).ready(function () {
                $('a[href^="#"]').on('click', function (e) {
                    e.preventDefault();
                    var target = this.hash;
                    var $target = $(target);
                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 300, 'swing', function () {
                        window.location.hash = target;
                    });
                });
            });
        script(src='/js/bootstrap/bootstrap.min.js')
        script(src='/js/contact.js')
